<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		
		<property name="host" value="smtp.126.com"/>
		<!-- SMTP协议要求必须设置发送邮件的用户名密码，进行权限校验 -->
		<property name="username" value="itcast0228"/>
		<property name="password" value="0228itcast"/>
		<!-- 设置邮件服务器相关属性 -->
		<property name="javaMailProperties">
			<props>
				<!-- 开启权限校验 -->
				<prop key="mail.smtp.auth">true</prop>
				<!-- 开启TLS保护 -->
				<prop key="mail.smtp.starttls.enable">true</prop>
				<!-- 邮件超时时间 -->
				<prop key="mail.smtp.timeout">10000</prop>
			</props>
		</property>
	</bean>
</beans>